# ===========================
# 📦 ENTORNOS Y DEPENDENCIAS
# ===========================
# Virtual envs
venv/
.env/
.env.bak/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de entornos
.Python
*.egg-info/
*.egg
*.eggs/
build/
dist/

# ===========================
# 📓 JUPYTER NOTEBOOKS
# ===========================
.ipynb_checkpoints/
*.nbconvert.ipynb

# No subir catálogos originales pesados
*.fits
*.tsv
*.h5
*.hdf5
*.zip
*.tar
*.gz

data/pre_processed/*.csv

# ===========================
# 🧰 SISTEMAS Y TEMPORALES
# ===========================
# macOS / Linux / Windows
.DS_Store
Thumbs.db

# Archivos temporales de editores
*.swp
*.swo
*~
.vscode/
.idea/

# ===========================
# 📄 DOCUMENTOS Y COMPILACIONES
# ===========================
paper/*.aux
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.toc
paper/*.bbl
paper/*.blg
paper/*.docx


# ===========================
# 🔐 ARCHIVOS SENSIBLES
# ===========================
# Nunca subir contraseñas ni tokens
*.env
*.key
*.json

venv
venv/*